- name: Restart cadvisor on databases nodes
  type: container
  action: restart
  targets:
    - definition: cadvisor
      when:
        # ips:
        #   - 10.24.73.1
        role: database
        network: database_network
