#!/bin/bash
#
# lib/databases/mysql
# Functions to control the configuration and operation of the **MySQL** database backend

# Dependencies:
#
# - DATABASE_{HOST,USER,PASSWORD} must be defined

# Save trace setting
_XTRACE_DB_MYSQL=$(set +o | grep xtrace)
set +o xtrace

MYSQL_DRIVER=${MYSQL_DRIVER:-PyMySQL}

register_database mariadb

DATABASE_USER=root
DATABASE_PASSWORD=my-secret-pw

# Functions
# ---------

function get_database_type_mariadb {
    echo mysql
}

# Get rid of everything enough to cleanly change database backends
function cleanup_database_mariadb {
    # Handled by mariadb/tasks/destroy.yml
    return
}

function recreate_database_mariadb {
    local db=$1
    sudo docker exec -i mariadb-{{ inventory_hostname_short }} mysql -u$DATABASE_USER -p$DATABASE_PASSWORD -e "DROP DATABASE IF EXISTS $db;"
    sudo docker exec -i mariadb-{{ inventory_hostname_short }} mysql -u$DATABASE_USER -p$DATABASE_PASSWORD -e "CREATE DATABASE $db CHARACTER SET utf8;"
}

function configure_database_mariadb {
    # Handled by mariadb/tasks/deploy.yml
    return
}

function install_database_mariadb {
    # Handled by mariadb/tasks/deploy.yml
    return
}

function install_database_python_mariadb {
    # Install Python client module
    pip_install_gr $MYSQL_DRIVER
    if [[ "$MYSQL_DRIVER" == "MySQL-python" ]]; then
        ADDITIONAL_VENV_PACKAGES+=",MySQL-python"
    elif [[ "$MYSQL_DRIVER" == "PyMySQL" ]]; then
        ADDITIONAL_VENV_PACKAGES+=",PyMySQL"
    fi
    return
}

function database_connection_url_mariadb {
    local db=$1
    echo "$BASE_SQL_CONN:3306/$db?charset=utf8"
}


# Restore xtrace
$_XTRACE_DB_MYSQL

# Local variables:
# mode: shell-script
# End:
