#!/bin/bash
#
# lib/databases/cockroachdb
# Functions to control the configuration and operation of the **CockroachDB** database backend

# Dependencies:
#
# - DATABASE_{HOST,USER,PASSWORD} must be defined

# Save trace setting
_XTRACE_PG=$(set +o | grep xtrace)
set +o xtrace

register_database cockroachdb

# Functions
# ---------

# Returns the name of the protocol for SQLAlchemy url connexion
function get_database_type_cockroachdb {
    echo cockroachdb
}

# Get rid of everything enough to cleanly change database backends
function cleanup_database_cockroachdb {
    # Handled by cockroachdb/tasks/destroy.yml
    return
}

function recreate_database_cockroachdb {
    local db=$1
    {% if inventory_hostname == dbmaster_node %}
    sudo docker exec -i cockroachdb-{{ inventory_hostname_short }} \
	   ./cockroach sql --execute "DROP DATABASE IF EXISTS $db CASCADE" --insecure

    sudo docker exec -i cockroachdb-{{ inventory_hostname_short }} \
	   ./cockroach sql --execute "CREATE DATABASE $db ENCODING = 'UTF8'" --insecure
    {% endif %}
}

function configure_database_cockroachdb {
    # Handled by cockroachdb/tasks/deploy.yml
    return
}

function install_database_cockroachdb {
    # Handled by cockroachdb/tasks/deploy.yml
    return
}

function install_database_python_cockroachdb {
    # Mostly handled by deploy.yml
    return
}

function database_connection_url_cockroachdb {
    local db=$1
    echo "$BASE_SQL_CONN:26257/$db?client_encoding=utf8"
}

# Restore xtrace
$_XTRACE_PG

# Local variables:
# mode: shell-script
# End:
