---
- name: Destroying influxdb container
  docker_container:
    name: "influxdb"
    state: absent
    force_kill: yes

- name: Cleaning data directory
  file:
    path: /influxdb-data
    state: absent
