LoadPlugin mysql

# https://collectd.org/documentation/manpages/collectd.conf.5.shtml#plugin_mysql
<Plugin mysql>
	<Database sbtest>
		Host "{{ hostvars[inventory_hostname]['ansible_' + control_network]['ipv4']['address'] }}"
		Port "3306"
		User "sbtest"
		Password "sbtest"
    # In case of replication:
		MasterStats true # Collects statistics of master
		SlaveStats true  # Collects statistics of slaves
	</Database>
</Plugin>
