LoadPlugin mysql

# https://collectd.org/documentation/manpages/collectd.conf.5.shtml#plugin_mysql
<Plugin mysql>
	<Database galera>
		Host "{{ hostvars[dbmaster_node]['ansible_' + control_network]['ipv4']['address'] }}"
		Port "3306"
		User "root"
		Password "my-secret-pw"
		WsrepStats true
	</Database>
</Plugin>
