<LoadPlugin python>
    Globals true
</LoadPlugin>

<Plugin python>
	ModulePath "/opt/local/collectd/python"

	Import "mysql"

	<Module mysql>
		Host "{{ hostvars[inventory_hostname]['ansible_' + hostvars[inventory_hostname]['database_network']]['ipv4']['address'] }}"
		Port 3306
		User "root"
		Password "my-secret-pw"
		Verbose false
	</Module>
</Plugin>
